@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(45, 42, 42);
    font-family: 'Montserrat', sans-serif;
}

.container {
    position: absolute;
    background-color: rgb(95, 94, 91);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 25px;
    border-radius: 10px;
    border: solid 2px;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
}

.main-title {
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: rgb(255,252,252);
    
}

.display {
    background-color: rgb(255, 252, 252);
    height: 100px;
    padding: 10px;
    margin: 10px 5px;
    border-radius: 10px;
    border: solid 2px;
}

.display-previous {
    position: absolute;
    right: 0;
    margin-top: 0px;
    margin-right: 43px;
    font-size: 2em;
    font-weight: 500;
}

.display-result {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 575px;
    margin-right: 43px;
    font-size: 2.5em;
    font-weight: 500;
}

.btn {
    width: 100px;
    height: 100px;
    margin: 2px;
    font-size: 2.5em;
    font-weight: 500;
    background-color: rgb(26, 25, 25);
    color: rgb(255, 252, 252);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.btn-equal td:last-child button {
    height: 204px;
}

.btn-zero td:first-child button {
    width: 204px;
}
